{% extends 'base.html.twig' %}

{% block body %}
  <h3>Bundles Test!</h3>
  <div {{ stimulus_controller('hello') }}></div>

  <hr />

  <div class="bg-body-secondary p-3">
    {% if form is defined %}
      {{ form(form) }}
    {% endif %}
  </div>
{% endblock %}
