/** collection */
[data-siganushka-generic-collection-target=entry] > td:first-child {
  padding-left: 0;
}

[data-siganushka-generic-collection-target=entry] > td:last-child {
  padding-right: 0;
}

/** tom-select */
select + .ts-wrapper .ts-control > input::placeholder {
  color: #212529;
}

.ts-wrapper.multi .ts-control { padding-bottom: 3px !important; }
.ts-wrapper.multi .ts-control > div { font-size: 83%;  }
.ts-wrapper.multi .ts-control > input { margin-bottom: 3px !important; }
