/** siganushka/generic-bundle */
[data-controller=siganushka-generic-collection] td { --bs-table-bg: transparent; }
[data-controller=siganushka-generic-collection] td:first-child { padding-left: 0; }
[data-controller=siganushka-generic-collection] td:last-child { padding-right: 0; }

/** knplabs/knp-paginator-bundle */
.table .sortable,
.table .asc,
.table .desc { color: var(--bs-table-color); text-decoration: none; }

.table .sortable::after,
.table .asc::after,
.table .desc::after { font-family: bootstrap-icons; vertical-align: middle; }

.table .sortable::after { color: var(--bs-tertiary-color); content: " \F571"; }
.table .asc::after { content: " \F574"; }
.table .desc::after { content: " \F575"; }

/** tom-select */
select + .ts-wrapper .ts-control > input::placeholder { color: var(--bs-body-color); }
.ts-wrapper.multi .ts-control { padding-bottom: 3px !important; }
.ts-wrapper.multi .ts-control > div { font-size: 83%; }
.ts-wrapper.multi .ts-control > input { margin-bottom: 3px !important; }

/** bootstrap */
.btn { white-space: nowrap !important; }
.pagination { margin-bottom: 0 !important; }
.img-thumbnail { max-width: none !important; }

/** app */
label.required::after { color: var(--bs-form-invalid-color); content: "*"; }
textarea.form-control { min-height: 86px !important; max-height: 320px !important; field-sizing: content; }
.fs-sm { font-size: .75rem; }
.w-0 { width: 0%; }
