/** collection */
[data-controller=siganushka-generic-collection] td {
  --bs-table-bg: transparent;
}

[data-controller=siganushka-generic-collection] td:first-child {
  padding-left: 0;
}

[data-controller=siganushka-generic-collection] td:last-child {
  padding-right: 0;
}

/** tom-select */
select + .ts-wrapper .ts-control > input::placeholder {
  color: #212529;
}

.ts-wrapper.multi .ts-control { padding-bottom: 3px !important; }
.ts-wrapper.multi .ts-control > div { font-size: 83%;  }
.ts-wrapper.multi .ts-control > input { margin-bottom: 3px !important; }

/** bootstrap */
.fs-sm { font-size: .75rem; }
.btn { white-space: nowrap !important; }
.pagination { margin-bottom: 0 !important; }
.img-thumbnail { max-width: none !important; }
