{% if pagination is defined %}
  {% set _items = pagination.items %}
  {% set _items_count = pagination.totalItemCount %}
{% else %}
  {% set _items = items|default([]) %}
  {% set _items_count = _items|length %}
{% endif %}

<div class="overflow-x-auto bg-body my-3">
  <table class="table table-striped table-hover align-middle m-0">
    <thead>
      {%~ block thead %}
      <tr>
        {%~ block th %}
          <th>{{ 'generic.total_results'|trans({'%total_results%': _items_count}) }}</th>
        {%~ endblock %}
      </tr>
      {%~ endblock %}
    </thead>
    <tbody>
      {%~ block tbody %}
        {%~ for _item in _items %}
        <tr>
          {%~ block td %}
            <td>#{{ _key }}{# twigcs use-var _item #}</td>
          {%~ endblock %}
        </tr>
        {%~ else %}
        <tr>
          <td colspan="999" class="text-center text-body-secondary">
            {% include 'empty.html.twig' %}
          </td>
        </tr>
        {%~ endfor %}
      {%~ endblock %}
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center gap-2">
  {% if pagination is defined %}
    {{ knp_pagination_render(pagination) }}
  {% endif %}

  <div class="pagination d-none d-md-block">
    <span class="page-link text-body-secondary rounded">
      {{- 'generic.total_results'|trans({'%total_results%': _items_count}) -}}
    </span>
  </div>
</div>
