<div class="d-flex align-items-center">
  <img src="{{ item.subjectImg }}" width="50px" class="img-thumbnail" />
  <div class="ms-2 lh-sm">
    <p class="mb-1">{{ item.subjectTitle }}</p>

    {% if item.subjectSubtitle %}
      <small class="fs-sm text-secondary">{{ item.subjectSubtitle }}</small>
    {% endif %}

    <small class="fs-sm text-secondary">&times;{{ item.quantity }}</small>
  </div>
</div>
